* {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  height: 100%;
}
li {
  list-style: none;
}
header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  .logo {
    margin-left: 30px;
    width: 50px;
    height: 50px;
  }
  .menu {
    display: flex;
    gap: 40px;
    margin-right: 50px;
    align-items: center;
    .fa-bars {
      display: none;
    }
    ul {
      display: flex;
      gap: 30px;
      margin-right: 40px;
      align-items: center;
      li {
        transition: border 0, 5s ease-in;
        &:hover {
          border-bottom: 3px solid orange;
        }
      }
    }
    .user {
      display: flex;
      gap: 10px;
      .fa-user {
        margin-top: 5px;
      }
    }
  }
}
.container {
  margin-top: 20px;
  .vinfast {
    position: relative;
    .safer {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(50%, -50%);
      color: white;
      button {
        margin-top: 10px;
        padding: 10px;
        width: 100px;
        background-color: rgb(40, 40, 158);
        color: white;
        border-radius: 20px;
        border: none;
        cursor: pointer;
      }
    }
  }
  .book {
    width: 90%;
    padding: 20px;
    margin: auto;
    background-color: #c4c4c4;
    .icon-now {
      margin-top: 30px;
      display: flex;
      gap: 20px;
      justify-content: center;
      .white-box {
        background-color: #fff;
        border-radius: 20px;
        width: 300px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
      }
    }
    button {
      padding: 10px;
      width: 150px;
      height: 50px;
      border-radius: 20px;
      border: none;
      background-color: rgb(38, 38, 185);
      color: white;
      cursor: pointer;
    }
  }
  .services {
    display: flex;
    margin-top: 40px;
    padding: 15px 20px;
    gap: 50px;
    img {
      margin: auto;
      width: 30%;
      border-radius: 70%;
    }
    .our {
      margin: auto;
      h1 {
        color: #234fb3;
        font-weight: bold;
        margin-bottom: 1.5rem;
      }
      .car {
        margin-bottom: 30px;
        h2 {
          margin-bottom: 10px;
        }
      }
    }
  }
  .wehave {
    margin: auto;
    margin-top: 20px;
    width: 80%;
    h1 {
      text-align: center;
    }
    .vf5 {
      margin-top: 30px;
      display: grid;
      gap: 30px;
      .vinfast-vf8 {
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
        text-align: center;
        margin: auto;
        h2 {
          font-size: 1.2rem;
          font-weight: 600;
          color: #234fb3;
          padding: 10px;
        }
        .image {
          height: 300px;
        }
        .nam {
          background-color: #ffffff;
          padding: 1rem;
          border-top: 1px solid #eee;
          border-radius: 0 0 20px 20px;
          h3 {
            font-size: 1rem;
            font-weight: 500;
            margin: 0;
            color: #444;
          }
          .icon {
            display: flex;
            justify-content: space-around;
            margin: 0.5rem 0;
            font-size: 0.9rem;
            color: #555;
            i {
              margin-right: 5px;
              color: #f2b400;
            }
          }
          .price {
            font-size: 1.2rem;
            font-weight: bold;
            color: #21408e;
            margin: 0.5rem 0;
          }
          button {
            background-color: #21408e;
            color: #fff;
            border: none;
            padding: 10px 20px;
            font-weight: 500;
            border-radius: 8px;
            cursor: pointer;
          }
        }
      }
    }
  }
  .luxury {
    text-align: center;
    padding: 40px 20px;
    background-color: #f9f9f9;
    h1 {
      font-size: 2rem;
      margin-bottom: 30px;
      color: #234fb3;
    }
    .vf9 {
      justify-items: center;
      cursor: pointer;
      .vf8 {
        background-color: #c4c4c4;
        border-radius: 10px;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 60px;
          margin-bottom: 10px;
        }
        p {
          font-size: 1rem;
          font-weight: bold;
        }
      }
    }
  }
  .fell {
    margin-top: 20px;

    h1 {
      text-align: center;
      font-size: 28px;
      margin-bottom: 40px;
    }

    .with {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      padding: 20px;
      .easliy {
        text-align: center;
        padding: 20px;
        i {
          font-size: 40px;
          color: #f7c600;
          margin-bottom: 10px;
        }

        h2 {
          font-size: 18px;
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }
    }
  }
  .becom {
    padding: 20px;
    position: relative;
    .drive {
      position: absolute;
      bottom: 60%;
      left: 8%;
      color: white;
      .suscribe {
        margin-top: 30px;
        .next {
          width: 80%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #eaeaea;
          border-radius: 6px;
          padding: 4px;
          input {
            padding: 10px 15px;
            border: none;
            background: transparent;
            font-size: 14px;
            width: 250px;
          }
          button {
            padding: 10px 20px;
            background-color: #1d3e87;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 4px;
          }
        }
      }
    }
  }
  .newsletters {
    height: 200px;
    background-color: #f0ba00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      text-align: center;
      margin-bottom: 20px;
    }
    .email {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #eaeaea;
      border-radius: 6px;
      padding: 4px;
      input {
        padding: 10px 15px;
        border: none;
        background: transparent;
        font-size: 14px;
        width: 250px;
      }
      button {
        padding: 10px 20px;
        background-color: #1d3e87;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 4px;
      }
    }
  }
}
footer {
  background-color: #0c114f;
  color: white;
  padding: 40px 20px;
  .featute {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    .tour {
      margin: auto;
      padding: 0 10px;
      h4 {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 15px;
      }
      ul {
        li {
          margin-bottom: 10px;
          color: #cfcfd7;
          font-size: 14px;
        }
      }
    }
  }
  .kengang {
    margin-top: 10px;
    width: 100%;
  }
  .car {
    margin-top: 20px;
    color: white;
    .luxuri {
      padding: 10px 20px;
      display: flex;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;
      h1 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 15px;
      }
      .icon-car {
        i {
          font-size: 20px;
          margin: 0 10px;
          cursor: pointer;
        }
      }
    }
  }
}

/* laptop */
@media screen and (min-width: 1025px) {
    .wehave {
    .vf5 {
         grid-template-columns: repeat(4,1fr);
    }
  }
  .luxury{
    .vf9{
      display: flex;
      flex-wrap: wrap-reverse;
      justify-content: center;
      gap: 12px;
      .vf8{
        width: calc(100% / 3 - 5px);
      }
    }
  }
}


/* tablet */
@media screen and (min-width: 741px) and (max-width: 1024px) {
  header {
    .menu {
      .fa-bars {
        display: block;
      }
      ul {
        li {
          display: none;
        }
      }
    }
  }
  .wehave {
    .vf5 {
         grid-template-columns: repeat(2,1fr);
    }
  }
  .luxury{
    .vf9{
      display: flex;
      flex-wrap: wrap-reverse;
      justify-content: center;
      gap: 12px;
      .vf8{
        width: calc(100%/3 - 8px);
      }
    }
  }
}

/* mobile */
@media screen and (max-width: 740px) {
  header {
    .menu {
      .fa-bars {
        display: block;
        justify-content: space-between;
        align-items: center;
      }
      ul {
        li {
          display: none;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  .luxury{
    /* .vf9{
      flex-wrap: wrap-reverse;
      justify-content: center;
      gap: 10px;
      
    } */
  }
}
